@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppin", sans-serif;
    position: relative; }

body{
    overflow-x: hidden; /* Hide down scrollbar */
    overflow-y: hidden;
    background-color: #f7f7f7;
}

/* ---- KEYFRAMES ---- */

@keyframes borderGrow{
    0%{
        width: 0;
        visibility: hidden;
    }
    20%{
        width: 0;
        visibility: visible; 
        border-top: 2px solid white;
        margin-left: 45%;
    }
    90%{
        margin-left: 0;
        width: 100%;
        border-top: 2px solid white;
        visibility: visible; 
    }
    100%{
        margin-left: 0;
        width: 100%;
        border-top: 2px solid white;
        visibility: visible; 
    }}
@keyframes slideInFromTop {
    0%{ visibility: visible; 
        border-top-width: 20%;
    }
    50% {
        transform: translateY(0); 
        }
    100% { transform: translateY(100%);
        visibility: visible; } }
@keyframes slideInFromBot {
    0%{ visibility: visible; 
    }
    50%{ transform: translateY(0); 
    }
    100% { transform: translateY(-100%); 
        visibility: visible; } }

/* ---- TRANSITIONS ---- */
.black-sq-top{
    position: fixed;
    opacity: 1;
    top: 0;
    animation: 1.4s ease-out 0s 1 slideInFromBot;
    background-color: black;
    height: 50%;
    width: 100%;
    z-index: 20;
    visibility: hidden; }
.black-sq-bot{
    position:fixed;
    opacity: 1;
    bottom: 0;
    animation: 1.4s ease-out 0s 1 slideInFromTop;
    background-color: black;
    height: 50%;
    width: 100%;
    z-index: 19;
    visibility: hidden; }
.black-sq-bot-b{
        position:fixed;
        opacity: 1;
        bottom: 0;
        animation: 0.7s ease-out 0s 1 borderGrow;
        background-color: black;
        height: 50%;
        width: 100%;
        z-index: 20;
        visibility: hidden; }

/* --- BODY --- */

/* [ ][ ]===---- MAIN PAGE ----===[ ][ ] */
.main-text{
    position: absolute;
    margin-top:8vw;
    margin-left: 15vw;
    letter-spacing: 3px; }
.main-text p{
    padding: 1vw 0 1vw 0;
    font-size: 1vw;
    font-weight: 100;
    letter-spacing: 2px; 
    color: rgb(30, 30, 30);
    animation: navp 2.6s forwards; }

/* |==-- Main Text --==| */
.b1-text{
    font-size: 9vw;
    font-weight: bolder;
    line-height: 9vw; }
.b1-text1 { transition: transform 0.5s ease-in-out; animation: startH5 1.7s forwards; }
.b1-text1:hover{ transform: translate3d(10px, 0px, 0px); }
.b1-text1:hover ~ .b1-text2{
    transform: translate3d(-10px, 0px, 0px); }
.b1-text1:hover ~ .b1-text3{
    transform: translate3d(-10px, 0px, 0px); }
.b1-text2{ transition: transform 0.5s ease-in-out; animation: startH5 1.9s forwards; }
.b1-text2:hover{
    transform: translate3d(10px, 0px, 0px); }
.b1-text2:hover ~ .b1-text3{
    transform: translate3d(-10px, 0px, 0px); }
.b1-text3{
    transition: transform 0.5s ease-in-out; animation: startH5 2.1s forwards;
    z-index: 10; }
.b1-text3:hover{
    transform: translate3d(10px, 0px, 0px); }


/* |==-- SEE PROJECTS --==| */
.main-btn{
    font-variant: small-caps;
    margin-top: 80px;
    font-size: 20px;
    color: black;
    width: 170px;
    height: 60px;

    justify-content: center;
    display: flex; }
.btn-1{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-right: -50px;
    cursor: pointer; }
.btn-1 a{
    color: inherit;
    color: black; }
.btn-1 {
    background: darken(#f7f7f7, 1.5%);
    font-weight: 100; }
.btn-1 svg{
    height: 60px;
    left: 0;
    position: absolute;
    top: 0; 
    width: 100%;  }
.btn-1 rect{
    fill: none;
    stroke: black;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear; }
.btn-1:hover {
    background: rgba(#f7f7f7, 0);
    font-weight: 500;
    letter-spacing: 1px; }
.btn-1:hover rect{
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1); }

/* -- Name Reveal Anim -- */
.b1-text1b, .b1-text2b, .b1-text3b{
    font-size: 0.1px;
    position:absolute;
    background-color: black;
    z-index: 14; }
.b1-text1b{
    animation: startText 1.5s forwards; }
.b1-text2b{
    animation: startText 1.7s forwards; }
.b1-text3b{
    animation: startText 1.9s forwards; }

/* |==-- Image --==| */
.figure{
    /* --- POSITION --- */
    position: absolute;
    top: 2vw;
    margin-left: 31vw;
    z-index: 8;
    /* -- DIMENSIONS --- */
    width: 30vw;
    height: 30vw;
    /* -- IMAGE -- */
    background-image: url(./img/Screen\ Shot\ 2023-02-16\ at\ 3.13.47\ AM.png);
    background-size: cover;
    border-radius: 2vw; }

/* |==-- Side Messages --==| */
.info{
    /* -- POSITION -- */
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 6vw;
    margin-right: 7vw;
    text-align: right; }
.main-item div{
    font-size: 50px;
    font-weight: 300;
    margin-top: 4vw; }
.main-item span{
    font-size: 15px;
    font-weight: 100;
    color: grey; }

/* === RESPONSIVE === */
@media (max-width:800px){ /* -- PHONES --  */
    .b1-text{ font-size: 11vw; line-height: 11vw; }

    .main-text{
        width: 450px;
        margin-top: 10vw;
        margin-left: 10%;
    }
    .info{ visibility: hidden; }
    .figure{
        top: 0;
        margin-left: 38vw;
        width: 40vw;
        height: 40vw;
    }
    .main-text p{
        font-size: 2.5vw;
    }
}

@media(min-width:800px) and (max-width:1200px){ /* -- IPAD -- */
    .main-text{
        margin-top: 13vw;
        margin-left: 10vw;
    }
    .info{
        margin-top: 7.3vw;
        margin-right: 4vw;
    }
    .figure{
        top: 0vw;
        width: 35vw;
        height: 35vw;
    }
}